button {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  width: 200px;
  background-color: #979797;
  color: #F9F5F2;
  border: none;
  /* border: 1px solid black; */
  /* border-radius: 15px; */
}

button:hover {
  background-color: #2F323B;
  color: #F9F5F2;
}
