.topText{
  padding: 80px 0px 50px;
}

.top-image-box {
  width: 100%;
}

.body-image-box {
  overflow: hidden;
  margin-top: 20px;
  width: 60%;

}

.button-group {
  text-align: center;
  padding: 30px 0px 10px 0px;
}

img {
  width: 100%;
  object-fit: contain;
}

h3{
  margin-top: 0;
}

.job-quote {
  font-size: 20px;
}

.job-quote i {
  padding: 10px;
}

.two-column {
  display: flex;
  flex-direction: row;
}

.column-text {
  width: 50%;
  padding-left: 40px;
}

.colleague-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 0px;
}

@media (max-width: 600px) {
  .colleague-group {
    flex-direction: column;
  }

  .two-column {
    flex-direction: column;
  }
}
