.topText{
  padding: 80px 0px 50px;
}

.top-image-box {
  width: 100%;
}

.top-image-box img {
  width: 100%;
  object-fit: contain;
}

.body-image-box {
  overflow: hidden;
  margin-top: 20px;
  width: 50%;
  background-image: url("https://www.comprend.com/files/pages/169/636748/dt/Home_01_ws_1920x800.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-group {
  text-align: center;
  padding: 30px 0px 10px 0px;
}

h3{
  margin-top: 0;
}

.job-quote {
  font-size: 20px;
}

.job-quote i {
  padding: 10px;
}

.two-column {
  display: flex;
  flex-direction: row;
}

.column-text {
  width: 50%;
  padding-left: 40px;
}

.colleague-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 50px;
}

@media (max-width: 800px) {
  .top-image-box img {
    width: 100%;
    object-fit: cover;
    min-height: 300px;
  }

  .colleague-group {
    flex-direction: column;
  }

  .two-column {
    flex-direction: column;
  }

  .body-image-box {
    width: 100%;
    min-height: 300px;
  }

  .column-text {
    padding-left: 0px;
    width: 100%;
  }
}
