.jobDePageContainer{
  width: 100%;
  height: 100%;
  background-image: url("/images/space.svg"), linear-gradient(to bottom left, #AF639E95, #FAD96190 );
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
  background-position: center top;
}

.jobDetails{
  z-index: 2;
  margin: 0 10%;
  width: 80%;
}
