.jobContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid black;
  height: 80px;
}


.jobContainer > div{
  display: flex;
  justify-content: center;
  width: 33.33%;
}

.jobContainer > .title{
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;

}
