.jobContainer {
  border-bottom: 2px solid #979797;
  min-height: 80px;
}

.jobContainer table {

   table-layout: fixed;
}

/* .jobContainer table{
  align: left;
} */

.jobContainer table tr td{
    /* align: left; */
}
