header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2F323B;
}

.header-navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
