.colleaguesPageContainer {
  width: 100%;
  height: 100%;
  background-image: url("/images/space.svg"), linear-gradient(to bottom left, #AF639E95, #000000 );
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.colleagues-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  justify-content: center;
  color: #F9F5F2;
  margin-bottom: 5px;
}


@media (max-width: 600px) {
  .colleagues-container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
}
