.careerPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom left, #FFFFFF, #5F9FDD);
  background-repeat: no-repeat;
  z-index: 0;
}

.heroImage {
  position: relative;
  width: auto;
  margin: 0;
  background-size: cover;
  background-position: center top;
}

.heroImage img{
  width: 100%;
}

.hero-text {
position: absolute;
top: 35%;
left: 15%;
color: #F9F5F2;
font-size: 200%;
}

.hero-text p{
  color: #F9F5F2;
  border: solid 3px #F9F5F2;
  padding: 1% 0% 1% 2%;
}

.intro-container {
z-index: 2;
display: flex;
flex-direction: row;
justify-content: space-around;
width: 80%;
margin: 30px auto 50px;
}


.job-opening-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.intro-text {
  padding: 0 40px;
}


@media (max-width: 900px) {
  .intro-container {
  flex-direction: column;
  text-align: center;
  }

  .hero-text img{
    width: 60%;
    padding-top: 0;
  }

  .hero-text p{
    margin-top: 0;
    font-size: 50%;
    width: 60%;
  }

  .hero-text{
    top: 25%;
  }

  .intro-text {
    padding: 0;
  }
}
