footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2F323B;
  font-size: 14px;
  color: #F9F5F2;
  padding-left: 5%;
  padding-top: 40px;
  z-index: 5;
}

footer p {
  font-weight: lighter;
  font-size: 12px;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-logo img {
  height: 31px;
  width: auto;
}

.footer-navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  width: 70%;
  padding: 0;
}

.footer-navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-navbar a {
  color: inherit;
  text-decoration: inherit;
}

.socialmedia-icons {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}

.socialmedia-icons img {
  height: 15px;
  width: auto;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .footer-navbar {
    flex-direction: column;
  }

  .footer-navbar ul {
    flex-direction: column;
    align-items: center;
  }

  footer p {
    text-align: center;
  }

}
