.jobOpPageContainer{
  width: 100%;
  height: 100%;
  background-image: url("/images/sanddune.svg"), linear-gradient(to bottom left, #FAD961, #F76B1C);
  background-repeat: no-repeat;
  z-index: 0;
  background-size: cover;
}

.tableofPositions{
  z-index: 2;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 80%;
}

.starWarsJobs{
  width: 350px;
  padding: 8% 15% 8% 10%;
}
@media (max-width: 600px) {
  .starWarsJobs{
    width: 75%;
    padding: 10% 15% 10% 10%;
  }
}
