.jobOpeningsList table{
  width: 100%;
  color: #2F323B;;
  padding-left: 5%;
}

.jobOpeningsListItem {
  border-top: #979797 2px solid;
  border-right: #979797 2px solid;
  border-left: #979797 2px solid;
  background: #F9F5F2;
  background-color: rgba(249, 245, 242, 0.4);
}

a:-webkit-any-link{
  text-decoration: none;
  color: #2F323B;
  marggin: 20px;
}

select {
  font-size: 18px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 2px solid #979797;
  background-color: #e3e3e3;
}

.filter-buttons select{
  background-color: #979797;
  color: #F9F5F2;
  border: none;
}
