/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jobContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid firebrick;

} */
.jobOpeningsListItem {
  border-top: black 2px solid;
  border-right: black 2px solid;
  border-left: black 2px solid;
}
