.jobOpeningsListItem {
  border-top: black 2px solid;
  border-right: black 2px solid;
  border-left: black 2px solid;
  width: 80%;
}

.jobOpeningsList tr{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 0;
}



table{
  width: 80%;
}
