.jobOpeningsListItem {
  border-top: black 2px solid;
  border-right: black 2px solid;
  border-left: black 2px solid;
  width: 80%;

}

.jobOpeningsList> ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.jobOpeningsList li {
  display: flex;
  justify-content: center;
  width: 33.33%;
}

.jobOpeningsList li {
  display: flex;
  justify-content: flex-start;
  padding-right: 180px;
}
